#ignore setup files, they contain sensitive client information
SetupFiles/

#ignore setupFirmware.h, it contains sensitive client information
setupFirmware.h

# ignore vscode settings
.vscode/

#ignore particle workbench's project properties
project.properties

#ignore all my logs
*.log

#ignore particle binaries
target/
