# ignore vscode settings
.vscode/

# ignore particle binaries
target/

#ignore... I think it's the particle api binary?

#ignore... I think it's my app's binary?
code

#don't ignore particle workbench's project properties
#need it for when someone clones your repo and wants
#to run the code on their Argon
#project.properties
