# ignore vscode settings
.vscode/

#ignore generated .cpp file, it screws up my merges
BraveSensorProductionFirmware.cpp

#ignore particle binaries
target/

#ignore binary called core
#I think this is the core OS binary?
core

#ignore... I think it's my app's binary?
code

#ignore log files
*.log

#ignore... I think it's platformIO config files
workspaceconfig.code-workspace

#don't ignore particle workbench's project properties
#need it for when someone clones your repo and wants
#to run the code on their Argon
#project.properties

#ditto don't ignore lib/ folders, need these to run the code
